body {
    margin: 0 !important;
    padding: 0 !important;
}

#swagger-ui {
    margin: 0 auto;
    max-width: 1000px;
}

.scr-banner {
    background-color: #202020;
    color: #ffffff;
    font-size: .7em;
    line-height: .9rem;
    text-align: center;
}
